li {/*width: 25%; */
    border: 2px solid white;
    padding: 1rem;
    /* height: 40px; */
    font-weight: 900;
    background-color: #4A2DB6;
    color: white;
    list-style-type: none;
    align-content: center;
}

ul {display: flex; 
    gap: 0.5rem;
    flex-wrap: wrap;
}

body {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

label {
    margin: 0.5rem;
}

select {
    margin: 0.5rem;
    min-width: 6rem;
    max-width: 8rem;
    text-align: center;
}

h1 {
    text-align: center;
}