.playerChoice {
    border: .2rem solid;
    border-radius: .4rem;
    margin: .5rem;
    font-size: 2rem;
    padding: 1rem;
    background:rgb(73, 34, 105) ;
    color:rgb(241, 130, 25);
    transition: all .1s ease;
};

.playing {
    transform: rotate(1turn);
    border-color: rgb(241, 130, 25);
    box-shadow: 0 0 1rem rgb(73, 34, 105);
}