body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:rgba(131, 109, 150, 0.158);
}

.header {
    display: flex;
    gap: 20rem;
    background: purple;
    margin: 1.5rem 0rem 5rem;
    padding: 2rem;
    min-height: 8hv;   
}

#headerP {
    font-size: 2rem;
}

.userChoice {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.keyChoice {
    border: .3rem solid;
    border-radius: 1.2rem;
    margin: 5rem;
    font-size: 2rem;
    width: 10rem;
    padding: 1rem;
    background:rgba(73, 34, 105, 0.89) ;
    color:rgb(241, 129, 25);
    transition: all 0.03s ease;
    text-align: center;
}

.playing {
    transform: scale(2);
    border-color: #ffc600;
    box-shadow: .5rem .5rem 4rem rgba(73, 34, 105, 0.89);
}

kbd {
    display: block;
}

.results {
    font-size: 1.5rem;
    min-width: 10rem;
    min-height: 10hv;
}

.resultHistory {
    border: .2rem solid rgba(73, 34, 105, 0.89);
    border-radius: .8rem;
    margin: .5rem;
    font-size: 1.2rem;
    width: 15rem;
}

#clear {
    font-size: .9rem;
    border-radius: .8rem;
    border-color: rgb(51, 85, 196);
    background: none;
    padding: .5rem;
}

#history {
    font-size: 1.5rem;
}

.pcPlay {
    background: grey;
}

.userPlay {
    background: blue;
}